@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Irish+Grover&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #a181ff, #73cef5, #a5fecb);

}
 
/*------Header------*/
 
header {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex;
  padding: 2rem 1.5rem;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.147);
}

.logo {
  font-size: 1.5rem;
  display: inline;
  font-family: 'Irish Grover', cursive;
}

.logo img {
  width: 1.5rem;
}

.main-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  transform: translateY(0)
}

.main-menu li a {
  margin: 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.main-menu li a:hover {
  border-bottom: 0.2rem solid rgb(170, 70, 236);
}


.btnmenu {
  top: 2rem;
  right: 1rem;
  position: absolute;
  display: none;
  z-index: 1;
}

/*--------Section --------*/
section {
  font-family: Caveat;
}


.home {
  font-family: 'Irish Grover';
  font-size: 2rem;
}

.row {
  display: flex;
  align-items: center;
  padding: 2rem 10rem;
  flex-wrap: wrap;
}

.row .image {
  width: 50%;
  text-align: center;
}

.row .image img {
  width: 50%;
  animation: animate ease-in-out 2s infinite alternate;
}

.row .content {
  width: 50%;
}

.row .content h1 {
  font-size: 1.5 rem;
}

.row .content h3 {
  font-size: 1rem;
}

.row .content p {
  font-size: 1.5rem;
}

.row .content .playstorebtn {
  display: block;
  width: 15rem;
  height: 10rem;
}

.playstorebtn img {
  width: 100%;
}

.row .container {
  width: 100%;
  text-align: center;
}
.cards{
  display: flex;
  justify-content:space-between;
}

.cards .card{
  width: 330px;
  padding: 15px;
}

.row ul li{
  list-style-type: none;
}


.mysection {
  background-color: rgb(246, 250, 253);
}

.avatar ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

.avatar ul li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}


.avatar li:nth-child(1) {
  background-image: url("https://i.pinimg.com/280x280_RS/31/ad/92/31ad9255f0b14c4bf2136132215d1551.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar li:nth-child(2) {
  background-image: url("https://i.pinimg.com/280x280_RS/31/ad/92/31ad9255f0b14c4bf2136132215d1551.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar li:nth-child(3) {
  background-image: url("https://i.pinimg.com/280x280_RS/31/ad/92/31ad9255f0b14c4bf2136132215d1551.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar li:nth-child(4) {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E03AQEeufFF6k8Eaw/profile-displayphoto-shrink_800_800/0/1573343344951?e=2147483647&v=beta&t=JJXl2GHc-pPHV9Y8vuXHFEdpH3Auyw7E55-cwoa2blA");
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar li:nth-child(5) {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTJesc2i7_KVkNrqZbzNkz3ds_570GNfR-Rg6oUFJejzEY2G9ze");
  background-size: contain;
  background-repeat: no-repeat;
}

.avatar li:nth-child(n+2) {
  margin-left: -50px;
}

.avatar ul:hover li:nth-child(n+2) {
  margin-left: -10px;
}

.avatar ul li img {
  width: 100%;

}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


@media (max-width: 640px) {
  .main-menu {
    flex-direction: column;
    margin-top: 0;
    margin-right: 2rem;
    width: 50vw;
    background-color: #85cfed;
    transition: transform 0.3s;
    text-align: center;
    transform: translateY(-100vh);
  }

  .main-menu--show {
    transform: translateY(0);
  }

  .btnmenu {
    display: inline;
  }

  .row {
    padding: 2rem;
  }

  .row .content {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }

  .row .image {
    width: 100%;
    text-align: center;
  }

  .row .content .playstorebtn {
    display: block;
    width: 100%;
  }

  .playstorebtn img {
    width: 50vw;
  }

  .cards{
    display: flex;
    flex-direction:column;
  }
  .cards .card{
    width:100%;
  }
}