@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Irish+Grover&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #a181ff, #73cef5, #a5fecb);

}

header {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex;
  padding: 2rem 1.5rem;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.147);
}

.logo {
  font-size: 1.5rem;
  display: inline;
  font-family: 'Irish Grover', cursive;
}

.logo img {
  width: 1.5rem;
}

.main-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  transform: translateY(0)
}

.main-menu li a {
  margin: 1rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.main-menu li a:hover {
  border-bottom: 0.2rem solid rgb(170, 70, 236);
}


.btnmenu {
  top: 2rem;
  right: 1rem;
  position: absolute;
  display: none;
  z-index: 1;
}


/*--------Section: Home --------*/

 .row {
  display: flex;
  align-items: center;
  padding: 2rem 10rem;
  font-family: 'Irish Grover', cursive;
  flex-wrap: wrap;
}

.row .image{
  width: 50%;
  text-align: center;
}
.row .image img{
  width: 50%;
  animation: animate ease-in-out 2s  infinite alternate;
 }

 .row .content {
  width: 50%;
}

.row .content h1{
  font-size: 2rem;
}


.row .content .playstorebtn {
  display: block;
  width: 15rem;
  height: 10rem;
}

.playstorebtn img {
  width: 100%;
}

.mysection {
  background-color: rgb(246, 250, 253);
  font-family: 'Caveat', cursive;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}




@media (max-width: 640px) {
  .main-menu {
    flex-direction: column;
    margin-top:0;
    margin-right:2rem;
    width: 50vw;
    background-color: #85cfed;
    transition: transform 0.3s;
    text-align: center;
    transform: translateY(-100vh);
  }

  .main-menu--show{
    transform:translateY(0);
  }
  
 .btnmenu {
    display: inline;
  }
 
   .row .content {
    width: 100%;
    text-align: center;
    padding: 2rem;
  }
  .row .image{
    width: 100%;
    text-align: center;
  }
  
}